<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block title %}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{% static 'movies_app/new_styles.css' %}" rel="stylesheet" class="text/css">
</head>
<body class="global-body">
{% block content %}
{% endblock %}
</body>
</html>